<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Folder:') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level"
                data-bind="value: settings.plugins.Start_Print_From_Printer.folder">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.autoStart">
            Refresh at startup
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.commandsClient">
            {{ _('Commands on printer ') }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.hideFolder">
            Execlude commands folder on octoprint
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Refresh:') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.refreshHost">
            Server Files
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.refreshSD">
            SD Files
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.refreshDeleteOld">
            Delete Old Files
            <input type="checkbox" class="input-block-level"
                data-bind="checked: settings.plugins.Start_Print_From_Printer.refreshNow">
            Start Refresh after save!
            <br>
            <input type="button" class="button" data-bind="click: forceRefresh" value="Refresh">

        </div>
    </div>
</form>